<table class="choiceTable" id={{id}}>
  <tr class="header">
    {{#each headers as |header|}}
      <td>{{header}}</td>
    {{/each}}
  </tr>
{{#each items as |item|}}
  <tr class="clickable" index="{{@index}}">
    {{#each ../headers as |header|}}
      <td class="{{header}}">{{get item header}}
      {{#ifEquals header "weapon"}}
        <small><br>{{get item "notes"}}</small>
      {{/ifEquals}}
      </td>
    {{/each}}
  </tr>
{{/each}}
</table>
